{% extends 'base.html' %}

{% block nav %}
<div id="navigation" role="navigation">
 <ul id="navigation-primary" class="ult-section primary">   <li class="ult-position  active">  <a href="{% url 'core:home_page' %}"  class="first">Home</a>
 </li>  <li class="ult-position ">  <a href="{% url 'core:info_update' %}" >Information Update</a>
 </li>  <li class="ult-position ">  <a href="{% url 'core:fees_page' %}" >Fees</a>
 </li>  <li class="ult-position ">  <a href="{% url 'core:timetable' %}" >Timetables</a>
 </li>  <li class="ult-position ">  <a href="{% url 'core:course' %}" >Course Registration</a>
 </li>  <li class="ult-position ">  <a href="{% url 'core:results' %}" >Results</a>
 </li>  <li class="ult-position ">  <a href="{% url 'core:requests' %}" >My Requests</a>
 </li>  <li class="ult-position ">  <a href="{% url 'core:logout_page' %}" >Sign Out</a>
 </li>
</ul><!-- end: .primary -->
  <ul id="navigation-secondary" class="ult-section secondary">   <li class="ult-position  active">  <a href="password_update.php"  class="first">Change Password</a>
 </li>  <li class="ult-position ">  <a href="student_clearance.php" >Student Clearance</a>
 </li>  <li class="ult-position ">  <a href="https://sites.google.com/a/mku.ac.ke/students/" >Downloads</a>
 </li>  <li class="ult-position ">  <a href="http://distance.mku.ac.ke/portal/" target="_blank" > E-Learning Portal </a>
 </li>  <li class="ult-position ">  <a href="https://ibank.gtbank.co.ke/newapps/gtcollectportal/index.aspx" target="_blank" > MPesa Trans. Validation </a>
 </li>  <li class="ult-position ">  <a href="http://studentemailreg.mku.ac.ke/" target="_blank" > Students Email </a>
 </li>
 </ul><!-- end: .secondary -->
 </div><!-- end: #navigation -->
{% endblock %}

{% block content %}
<div id="left">
	<div class="left_articles"  align="center">
	    <div> <p>BIT/53642/2016 KAINGU STEPHEN TUMAINI  &nbsp;  &nbsp;  &nbsp;  &nbsp; Thika (Day) , Main Campus (Thika)</p></div>
            <table border="1" align="center" cellspacing="0" cellpadding="0" width="100%">
             <tr> <td align="center" colspan="6">
              <B> Current Notices / Events &nbsp; </B>
              </td> </tr>
             <tr> <td align="right"> &nbsp; </td><td class="colhead"> <B> Subject </B>  </td><td class="colhead"> <B> Flag </B> </td><td class="colhead"> <B> Date </B> </td><td class="colhead"> <B> Notice / Event </B> </td><td class="colhead"> &nbsp; </td> </tr>
             <tr> <td align="right"> 1. </td><td align="left"> UNIVERSITY CALENDAR </td><td align="left">  </td><td align="left">  &nbsp; 13-Aug-2019 &nbsp; </td><td align="left"><a href="https://studentportal.mku.ac.ke/umis/studentportal/index.php?realm=noticeDetail&noticeID=AWGITHINJI_477468&fromDate=&toDate="> Please note the following dates on the University Calendar:
            2 nd September, 2019 - Freshers (new  . . .  </a> </td><td align="left">1 </td> </tr>
             <tr> <td align="right"> 2. </td><td align="left"> Notice to all students </td><td align="left">  </td><td align="left">  &nbsp; 06-Aug-2019 &nbsp; </td><td align="left"><a href="/umis/studentportal/index.php?realm=noticeDetail&noticeID=AWGITHINJI_437964&fromDate=&toDate="> You are kindly notified that Higher Education Loans Board (HELB) first and
            subsequent/continuing  . . .  </a> </td><td align="left">2 </td> </tr>
             <tr> <td align="right"> 3. </td><td align="left"> Proposal and Project Presentation for BIT, BIS and BBIT students REGULAR STUDENTS </td><td align="left">  </td><td align="left">  &nbsp; 30-Jul-2019 &nbsp; </td><td align="left"><a href="/umis/studentportal/index.php?realm=noticeDetail&noticeID=AWGITHINJI_400263&fromDate=&toDate="> Kindly note that the school will hold presentations for all BIT, BIS and BBIT students who are reg . . .  </a> </td><td align="left">3 </td> </tr>
             <tr> <td align="right"> 4. </td><td align="left"> Proposal and Project Presentation for BIT, BIS and BBIT students VIRTUAL STUDENTS </td><td align="left">  </td><td align="left">  &nbsp; 30-Jul-2019 &nbsp; </td><td align="left"><a href="/umis/studentportal/index.php?realm=noticeDetail&noticeID=AWGITHINJI_400285&fromDate=&toDate="> Kindly note that the school will hold presentations for all BIT, BIS and BBIT students who are reg . . .  </a> </td><td align="left">4 </td> </tr>
             <tr> <td align="right"> 5. </td><td align="left"> NOTICE TO ALL STUDENTS ON CLASS ATTENDANCE </td><td align="left">  </td><td align="left">  &nbsp; 29-May-2019 &nbsp; </td><td align="left"><a href="/umis/studentportal/index.php?realm=noticeDetail&noticeID=AWGITHINJI_923184&fromDate=&toDate="> Kindly note that only students who have attained at least 75% lecture
            attendance are eligible to  . . .  </a> </td><td align="left">5 </td> </tr>
             <tr> <td align="right"> 6. </td><td align="left"> NOTICE TO ALL STUDENTS ON CATS </td><td align="left">  </td><td align="left">  &nbsp; 28-May-2019 &nbsp; </td><td align="left"><a href="/umis/studentportal/index.php?realm=noticeDetail&noticeID=AWGITHINJI_905293&fromDate=&toDate="> Kindly note that Continuous Assessment Tests (CATs) are
            prerequisites for sitting final examinati . . .  </a> </td><td align="left">6 </td> </tr>
             <tr> <td align="right"> 7. </td><td align="left"> Creating Student Emails </td><td align="left">  </td><td align="left">  &nbsp; 04-Oct-2018 &nbsp; </td><td align="left"><a href="/umis/studentportal/index.php?realm=noticeDetail&noticeID=VKARURU_856373&fromDate=&toDate="> Procedure:
            1. Open Mount Kenya University website ,Student Services ,click Student emails or use  . . .  </a> </td><td align="left">7 </td> </tr>
             <tr> <td align="right"> 8. </td><td align="left"> Official Emails </td><td align="left">  </td><td align="left">  &nbsp; 04-Oct-2018 &nbsp; </td><td align="left"><a href="/umis/studentportal/index.php?realm=noticeDetail&noticeID=AWGITHINJI_856375&fromDate=&toDate="> The university through the Directorate of ICT is rolling out free email accounts for all students. . . .  </a> </td><td align="left">8 </td> </tr>
             <tr> <td align="right"> 9. </td><td align="left"> MKU Fee Payment Using Mpesa </td><td align="left">  </td><td align="left">  &nbsp; 15-Feb-2018 &nbsp; </td><td align="left"><a href="/umis/studentportal/index.php?realm=noticeDetail&noticeID=AWGITHINJI_561777&fromDate=&toDate="> You can now deposit your fee to our Mount Kenya University account through GT bank using your Mpes . . .  </a> </td><td align="left">9 </td> </tr>
             </table>
	</div>
</div>
{% endblock %}